@font-face {
  font-family: 'gilroyextrabold';
  src: url('/fonts/gilroyextrabold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
};
@font-face {
  font-family: 'gilroylight';
  src: url('/fonts/gilroylight-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
};
@font-face {
  font-family: 'open_sanslight';
  src: url('/fonts/opensans-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
};
@font-face {
  font-family: 'open_sansregular';
  src: url('/fonts/opensans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
};

body {
  margin: 0;
  padding: 0;

  font-family: gilroyextrabold, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

};

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; 
};