@font-face {
    font-family: "gilroyextrabold";
    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
    src: url('../fonts/gilroyextrabold.woff') format('woff');
  }
@font-face {
    font-family: "gilroylight";
    src: url('../fonts/gilroylight.woff2') format('woff2');
    src: url('../fonts/gilroylight.woff') format('woff');
  }

body {
    margin: 0;
    padding: 0;
  
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.18px;
    color: #000000;

    background-color: white;
  }
 a {
     text-decoration: none;
 } 

 .search-list,
 .user-navigation,
 .catalog-navigation,
 .site-navigation,
 .slides-switches,
 .category-list,
 .services-list,
 .brands-list,
 .delivery-list,
 .social-buttons {
     list-style: none;
 }
 .search-list a,
 .user-navigation a,
 .catalog-navigation a,
 .site-navigation a,
 .main-product a,
 .category-list a, 
 .services-list a,
 .about-us a,
 .contacts a,
 .social-buttons a {
     color: #000000;
 }
 .main-header-logo,
 .main-footer-logo {
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.26px;
 }
 .main-footer-logo {
    letter-spacing: 0.48px;
    color: #ffc600;
 }
 .main-navigation,
 .category-item {
    background-color: rgb(240, 197, 46, 0.5);
 }
 .search-icon-user,
 .user-navigation,
 .search-list,
 .slide-description,
 .name-specifications,
 .services-description,
 .about-us-description,
 .contacts-description,
 .footer-contact,
 .modal-category a {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
 }
 .modal-category a {
    line-height: 36px;
 }
 .search-icon-user,
 .button.to-send,
 .button.sing-in {
     border: none;
 }
 .search-icon-user {
    opacity: 0.3;
    background-color: rgb(240, 197, 46, 0);
 }
.catalog-navigation,
.site-navigation,
.button,
.services-item {
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.services-item,
.button.to-send,
.button.sing-in {
    letter-spacing: 2.15px;
}
.button.to-send,
.button.sing-in {
    background-color: rgba(0, 0, 0, 0);

}
.slide-title,
.services-title,
.about-us-title,
.contacts-title {
    font-size: 47px;
}
.slide-title {
    line-height: 56px;
    letter-spacing: 0.17px;
}
.description-specifications {
    font-family: "gilroylight";
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.36px;
}
.name-specifications,
.services-description,
.about-us-description,
.contacts-description {
    color: #464646;
}
.name-specifications {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
}
.services-container {
    background-color: #e5e5e5;
}
.services-title,
.about-us-title,
.contacts-title {
    line-height: 48px;
    letter-spacing: 0.21px;
}
.main-footer {
    background-color: #464646;
}  
.user-navigation.whight a,
.site-navigation.whight a,
.footer-contact {
    color: #ffffff;
}
.feedback-user-name,
.feedback-user-e-mail,
.feedback-user-letter-text {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(70, 70, 70, 0.4);
}

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; 
  }