@font-face {
    font-family: "gilroyextrabold";
    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
    src: url('../fonts/gilroyextrabold.woff') format('woff');
  }
@font-face {
    font-family: "gilroylight";
    src: url('../fonts/gilroylight.woff2') format('woff2');
    src: url('../fonts/gilroylight.woff') format('woff');
  }

body {
    margin: 0;
    padding: 0;
  
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.18px;
    color: #000000;

   /* background-color: white;
    background-image: url("../img/device-index.png");
    background-repeat: no-repeat;
    background-position: 0 0;*/
  }
 a {
     text-decoration: none;
 } 
 img {
     max-width: 100%;
     height: auto;
 }

 .search-list,
 .user-navigation,
 .catalog-navigation,
 .site-navigation,
 .slides-switches,
 .category-list,
 .services-list,
 .brands-list,
 .delivery-list,
 .social-buttons,
 .breadcrumbs,
 .filter-option,
 .catalog-list,
 .pagination-item {
     list-style: none;
 }
 .search-list a,
 .user-navigation a,
 .catalog-navigation a,
 .site-navigation a,
 .main-product a,
 .category-list a, 
 .services-list a,
 .about-us a,
 .contacts a,
 .social-buttons a,
 .breadcrumbs a,
 .catalog-list a,
 .pagination-item a,
 .modal-product a {
     color: #000000;
 }
 .main-header-logo,
 .main-footer-logo {
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.26px;
 }
 .catalog-item-title {
    font-size: 18px;
 }
 .catalog-item-price {
    font-family: "gilroylight";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.16px;
 }
 .filter-title,
 .pagination-item a {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.91px;
 }
 .main-footer-logo {
    letter-spacing: 0.48px;
    color: #ffc600;
 }
 .category-item {
    background-color: rgb(240, 197, 46, 0.5);
 }
 .main-navigation {
    position: relative;

    width: 1160px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(240, 197, 46, 0.5);
 }
 .main-header-logo {
     position: absolute;
     top: -22px;
     left: 59px;
 }
 .main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .main-navigation-wrapper,
 .main-footer-wrapper {
     width: 100%;
 }
 .container {
    width: 1160px;
    margin: 0 auto;

 }
 .search-form a {
     display: block;
     padding: 8px 20px;
     padding-bottom: 0;
 }
 .main-navigation-wrapper .container,
 .main-footer-wrapper .container,
 .footer-conditions.container,
 .footer-social.container {
     display: flex;
     justify-content: space-between;
 }
 .category {
     margin-bottom: 84px;
 }
 .category-list,
 .brands-list {
     display: flex;
     justify-content: space-between;
     margin: 0;
     padding: 0;
 }
 .category-item {
     width: 160px;

     /*временно для сетки*/
     min-height: 240px;
 }
 .index-columns {
     display: flex;
     justify-content: space-between;
     padding: 0 20px;
 }
 .img-product {
     width: 440px;
 }
 .description-product {
    width: 500px;
 }
 .about-us {
     width: 485px;
 }
 .contacts {
    width: 560px;
 }
 .services-container {
     display: flex;

     margin-bottom: 94px;
 }
 .brands {
     margin-bottom: 93px;
 }
 .main-footer {
     margin-top: 96px;
 }
 .footer-conditions {
     margin: 0;
 }
 .footer-copyright {
    margin: 0;
 }
 .search-icon-user,
 .user-navigation,
 .search-list,
 .slide-description,
 .name-specifications,
 .services-description,
 .about-us-description,
 .contacts-description,
 .footer-contact,
 .modal-category a,
 .breadcrumbs a,
 .monopods-current {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-transform: none;
    color: #000000;
 }
 .breadcrumbs a,
 .monopods-current {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0, 0.3);
 }
 .sort {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
 }
 .modal-category a {
    line-height: 36px;
 }
 .search-icon-user,
 .button.to-send,
 .button.sing-in,
 .button.to-show,
 .filter-parameter {
     border: none;
 }
 .search-icon-user {
    width: 315px;

    opacity: 0.3;
    background-color: rgb(240, 197, 46, 0);
 }
.catalog-navigation,
.site-navigation,
.button,
.services-item {
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.services-item {
    letter-spacing: 2.15px;
}
.button.to-send,
.button.sing-in,
.button.to-show {
    letter-spacing: 2.15px;
    background-color: rgba(0, 0, 0, 0);
}
.button.to-show {
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.slide-title {
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.17px;
}
.services-title,
.about-us-title,
.contacts-title,
.page-title {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.21px;
}
.page-title {
    letter-spacing: 0.17px;
}
.description-specifications {
    font-family: "gilroylight";
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.36px;
}
.name-specifications,
.services-description,
.about-us-description,
.contacts-description {
    color: #464646;
}
.name-specifications {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
}
.services-container {
    background-color: #e5e5e5;
}
.main-footer {
    background-color: #464646;
}  
.user-navigation.whight a,
.site-navigation.whight a,
.footer-contact {
    color: #ffffff;
}
.feedback-user-name,
.feedback-user-e-mail,
.feedback-user-letter-text {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(70, 70, 70, 0.4);
}
.button-comparison {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.13px;
    color: rgba(0, 0, 0, 0.5);
}
.search-list {
    display: flex;
    margin-left: 60px;
    margin-top: 36px;
    margin-bottom: 0;
    padding: 0;
}
.search-item-user {
    position: relative;

    padding: 0px 36px;
    padding-right: 0;
}
.search-item-user::before {
    content: "";

    position: absolute;
    top: 18px;
    left: 0px;

    width: 16px;
    height: 16px;

    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.search-icon-user {
    height: 49px;
}
.search-icon-user:hover {
    opacity: 0.6;
}
.search-icon-user:focus {
    opacity: 1;
    outline: none;
    border-bottom: solid 2px black;
}
.search-item-button:focus { /*доделать состояния кнопки*/
    border: solid 2px black;
}
.login-link {
    position: relative;

    padding: 0 28px;
    padding-right: 0;
}
.login-link::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 0px;

    width: 13px;
    height: 12px;

    background-image: url("../img/user.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.login-link:hover {
    opacity: 0.6;
}
.login-link:active {
    opacity: 0.3;
}
.shopping-cart {
    position: relative;

    padding: 0 24px;
    padding-right: 0;
}
.shopping-cart::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 0px;

    width: 12px;
    height: 12px;

    background-image: url("../img/cart.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.shopping-cart:hover {
    opacity: 0.6;
}
.shopping-cart:active {
    opacity: 0.3;
}
.comparison {
    position: relative;

    padding: 0 20px;
    padding-right: 0;
    margin-right: 40px;
}
.comparison::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 0px;

    width: 10px;
    height: 10px;

    background-image: url("../img/compare.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.comparison:hover {
    opacity: 0.6;
}
.comparison:active {
    opacity: 0.3;
}
.main-navigation .delivery {
    margin-right: 35px;
}
.catalog-navigation {
    position: relative;

    padding: 0 30px;
    padding-left: 0;
}
.catalog-navigation::before {
    content: "";

    position: absolute;
    bottom: 4px;
    right: 0px;

    width: 16px;
    height: 16px;

    background-image: url("../img/plus.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.catalog-navigation:hover {
    opacity: 0.6;
}
.catalog-navigation:active {
    opacity: 0.3;
}
.user-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;

    padding-top: 45px;
    padding-right: 60px;
    margin: 0;
}
.catalog-navigation {
    padding-left: 60px;
    padding-top: 26px;
    margin: 0;
}
.site-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;

    padding-top: 26px;
    padding-right: 60px;
    margin: 0;
}
.separation-columns {
    display: flex;
    justify-content: space-between;
}
.delivery:hover {
    opacity: 0.6;
}
.delivery:active {
    opacity: 0.3;
}
.guarantee:hover {
    opacity: 0.6;
}
.guarantee:active {
    opacity: 0.3;
}
.contact:hover {
    opacity: 0.6;
}
.contact:active {
    opacity: 0.3;
}
.main-header-logo:hover {
    opacity: 0.6;
}
.main-header-logo:active {
    opacity: 0.3;
}

  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; 
  }